<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sample Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header class="main_header">
      <nav class="main_header_nav">
        <ul class="main_header_nav_list">
          <li class="nav_list_links">
            <a class="anchor_link" href="/">Home</a>
          </li>
          <li class="nav_list_links">
            <a class="anchor_link" href="/admin">Add an Employee</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="main_container">
      <div class="main_wrapper">
        <h1>Add an Employee to Database !</h1>
        <div class="formcontrol">
          <div class="formitem">
            <label class="lableclass">Name : </label>
            <input class="inputclass" name="name" />
          </div>
          <div class="formitem">
            <label class="lableclass">Email : </label>
            <input class="inputclass" name="email" />
          </div>
          <div class="formitem">
            <label class="lableclass">Mobile Number : </label>
            <input class="inputclass" name="mobilenumber" />
          </div>
          <div class="formitem">
            <label class="lableclass">Age : </label>
            <input class="inputclass" name="age" />
          </div>
          <div class="formitem">
            <label class="lableclass">Place : </label>
            <input class="inputclass" name="place" />
          </div>
          <div class="formitem">
            <label class="lableclass">Primary Skill : </label>
            <input class="inputclass" name="skill" />
          </div>
          <div class="formitem">
            <label class="lableclass">Department : </label>
            <input class="inputclass" name="department" />
          </div>
          <div class="formitem">
            <label class="lableclass">Salary : </label>
            <input class="inputclass" name="salary" />
          </div>
          <div class="formitem">
            <input class="submitbuttonclass" type="submit" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
